h1{
    text-align: center;
    margin-bottom: 20px;
    background: #d3d3d3;
    color: #7900ff;
}

*{
    padding: 0;
    margin: 0;
    background: #f7eefa;
}

.wrapper{
    background: #d0aff5;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.child{
    width: 35%;
    box-sizing: border-box;
    padding: 10px;

}

.child p {
    font-size: 20px;
    background: #f4ddfc;
    text-align: center;
    margin-bottom: 10px;
}

.user-block{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto 20px;
    background: lightcyan;
}

.user-item{
    border: 1px solid black;
    width: 17%;
    box-sizing: border-box;
    padding: 5px;

}

.user-btn,.comment-btn{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.user-btn button, .comment-btn button{
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    font-size: 20px;
    margin: 0 auto 20px;
    background: #9c46f6;


}

.title-block{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    box-sizing: border-box;
    justify-content: space-between;

}

.title-block div{
    border: 1px solid black;
    max-width: 17%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    gap: 15px;
    background: #bdbac0;
}

.main{
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto 20px;
    text-align: center;



}

.main div{
    padding: 10px;
    box-sizing: border-box;

}

.main-comment{
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;

}

.main-comment div{
    width: 23%;
    padding: 10px;
    box-sizing: border-box;
}